$primary-text-color:rgb(44, 44, 44);
$yellow-main: rgb(255, 229, 80);
$button-green: rgba(187, 243, 48, 1);
$dark-green: rgb(126, 177, 1);
$background-color:rgb(245, 245, 245);
$heder-color:rgba(254, 254, 254, 1);