// Fonts
$main-font: 'Roboto', sans-serif;

// Text colors
$primary-text-color: rgb(44, 44, 44);
$dark-text-color: rgb(0, 0, 0);
$warning-text-color: rgb(255, 112, 93);

// Background colors
$heder-color: rgba(254, 254, 254, 1);
$yellow-main: rgb(255, 229, 80);
$button-green: rgb(187, 243, 48);
$accent-button-green: rgb(181, 255, 0);
$dark-green: rgb(126, 177, 1);
$background-color: rgb(245, 245, 245);
$background-btn: rgb(255, 255, 255);
