<section class="customers">
  <div class="container">
    <h2 class="title">What our Customers Say</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul>
      <li>
        <svg class="stars">
          <use></use>
        </svg>
        <p class="coment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="client">
          <svg class="avatar">
            <use href="./images/symbol-defs.svg#icon-stars"></use>
          </svg>
          <h2 class="name">Sumith Shah</h2>
          <p class="text">Some Dude</p>
        </div>
      </li>
      <li>
        <svg class="stars">
          <use></use>
        </svg>
        <p class="coment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="client">
          <svg class="avatar">
            <use></use>
          </svg>
          <h2 class="name">Sumith Shah</h2>
          <p class="text">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
</section>
