<section class="section customers">
  <div class="container">
    <h2 class="title">What our Customers Say</h2>
    <p class="after-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="coustumers__boxes">
      <div class="coustumers__box">
        <svg class="customers__stars" width="106" height="16">
          <use href="./images/svg/icons.svg#stars"></use>
        </svg>
        <p class="customers__coment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="coustumers__profile">
          <picture>
            <source
              srcset="./images/woman1x.jpeg 1x, ./images/woman2x.jpeg 2x"
              media="(min-width:320px)"
            />
            <img
              src="./images/woman1x.jpeg"
              alt="client"
              width="44px"
              height="44px"
            />
          </picture>
          <div class="customers__contact">
            <h3 class="customers__name">Sumith Shah</h3>
            <p>Some Dude</p>
          </div>
        </div>
      </div>
      <div class="coustumers__box">
        <svg class="customers__stars" width="106" height="16">
          <use href="./images/svg/icons.svg#stars"></use>
        </svg>
        <p class="customers__coment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="coustumers__profile">
          <picture>
            <source srcset="./images/men1x.jpeg 1x, ./images/men2x.jpeg 2x" />
            <img
              src="./images/men1x.jpeg"
              alt="client"
              width="44px"
              height="44px"
            />
          </picture>
          <div class="customers__contact">
            <h3 class="customers__name">Sumith Shah</h3>
            <p>Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
