<section id="menu" class="favorites section">
  <div class="container">
    <h2 class="title">Some of Our Favorites</h2>
    <p class="after-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/hamburger-desktop-1-min.png 1x,
              ./images/desktop/favorites/hamburger-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/hamburger-tablet-1-min.png 1x,
              ./images/tablet/favorites/hamburger-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/favorites/hamburger-mobile-1-min.png 1x,
              ./images/mobile/favorites/hamburger-mobile-2-min.png 2x
            "
            media="(min-width:320px)" />
          <img
            src="./images/mobile/favorites/hamburger-mobile-1-min.png"
            alt="gamburger"
        /></picture>
      </li>
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/pasta-desktop-1-min.png 1x,
              ./images/desktop/favorites/pasta-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/pasta-tablet-1-min.png 1x,
              ./images/tablet/favorites/pasta-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/favorites/pasta-mobile-1-min.png 1x,
              ./images/mobile/favorites/pasta-mobile-2-min.png 2x
            "
            media="(min-width:320px)" />
          <img
            src="./images/mobile/favorites/pasta-mobile-1-min.png"
            alt="pasta"
        /></picture>
      </li>
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/pizza-desktop-1-min.png 1x,
              ./images/desktop/favorites/pizza-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/pizza-tablet-1-min.png 1x,
              ./images/tablet/favorites/pizza-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/favorites/pizza-mobile-1-min.png 1x,
              ./images/mobile/favorites/pizza-mobile-2-min.png 2x
            "
            media="(min-width:320px)" />
          <img
            src="./images/mobile/favorites/pizza-mobile-1-min.png"
            alt="pizza"
        /></picture>
      </li>
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/chicken-desktop-1-min.png 1x,
              ./images/desktop/favorites/chicken-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/chicken-tablet-1-min.png 1x,
              ./images/tablet/favorites/chicken-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/chicken-tablet-1-min.png"
            alt="chicken"
        /></picture>
      </li>
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/salad-desktop-1-min.png 1x,
              ./images/desktop/favorites/salad-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/salad-tablet-1-min.png 1x,
              ./images/tablet/favorites/salad-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/salad-tablet-1-min.png"
            alt="salad"
        /></picture>
      </li>
      <li class="favorites-list__item">
        <picture
          ><source
            srcset="
              ./images/desktop/favorites/soup-desktop-1-min.png 1x,
              ./images/desktop/favorites/soup-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/soup-tablet-1-min.png 1x,
              ./images/tablet/favorites/soup-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/soup-tablet-1-min.png"
            alt="borshch"
        /></picture>
      </li>
    </ul>
  </div>
</section>
