<footer id="contacts" class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__navigation">
        <a href="./index.html" class="logo footer__logo">
          <img
            class="logo__img"
            src="images/svg/logo.svg"
            alt="logo"
            width="66"
            height="52"
          />
        </a>
        <div class="navigation">
          <ul class="navigation__list navigation__list--footer">
            <li class="navigation__item navigation__item--secondary">
              <a class="navigation__link navigation__link--secondary" href="#home"
                >Home</a
              >
            </li>
            <li class="navigation__item navigation__item--secondary">
              <a class="navigation__link navigation__link--secondary" href="#about"
                >About</a
              >
            </li>
            <li class="navigation__item navigation__item--secondary">
              <a class="navigation__link navigation__link--secondary" href="#service"
                >Service</a
              >
            </li>
            <li class="navigation__item navigation__item--secondary">
              <a class="navigation__link navigation__link--secondary" href="#menu"
                >Menu</a
              >
            </li>
            <li class="navigation__item navigation__item--secondary">
              <a class="navigation__link navigation__link--active navigation__link--secondary" href="#contacts"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__subscribe">
        <h2 class="footer__subscribe-title">Subscribe</h2>
        <form
          class="form-subscribe footer__form-subscribe"
          name="subscribe-form"
        >
          <label class="form-subscribe__label footer__label">
            <input
              class="form-subscribe__input"
              type="email"
              name="email"
              placeholder="Enter your email"
              minlength="5"
              required
            />

            <span class="form-subscribe__warning">
              <svg class="form-subscribe__warning-icon" width="12" height="12">
                <use href="images/svg/icons.svg#icon-warning"></use>
              </svg>
              Not a valid email address (example@email.com)</span
            >
          </label>

          <button class="form-subscribe__button footer__button" type="submit">
            Subscribe
          </button>
        </form>

        <p class="footer__subscribe-sharing">
          By subscribing you agree to with our
          <a href="" class="footer__subscribe-link">Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__agreement">
        <a class="footer__agreement-link" href="">Privacy Policy</a>
        <a class="footer__agreement-link" href="">Terms of Service</a>
        <a class="footer__agreement-link" href="">Cookies Settings</a>
      </div>
      <p class="footer__meta">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
