<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__navigation">
        <a href="./index.html" class="logo footer__logo">
          <img
            class="logo__img"
            src="images/svg/logo.svg"
            alt="logo"
            width="66"
            height="52"
          />
        </a>
        <ul class="navigation__list navigation__list--footer">
          <li class="navigation__item navigation__item--footer">
            <a class="navigation__link navigation__link--footer" href=""
              >Home</a
            >
          </li>
          <li class="navigation__item navigation__item--footer">
            <a class="navigation__link navigation__link--footer" href=""
              >About</a
            >
          </li>
          <li class="navigation__item navigation__item--footer">
            <a class="navigation__link navigation__link--footer" href=""
              >Service</a
            >
          </li>
          <li class="navigation__item navigation__item--footer">
            <a class="navigation__link navigation__link--footer" href=""
              >Menu</a
            >
          </li>
          <li class="navigation__item navigation__item--footer">
            <a class="navigation__link navigation__link--footer" href=""
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="footer__subscribe">
        <h2 class="subscribe__title subscribe__title--footer">Subscribe</h2>
        <form
          class="subscribe__form subscribe__form--footer"
          name="subscribe__form"
        >
          <label class="subscribe__label subscribe__label--footer">
            <input
              class="subscribe__input subscribe__input--footer"
              type="email"
              name="email"
              placeholder="Enter your email"
              minlength=""
              required
            />

            <span class="subscribe__warning">
              <svg class="subscribe__warning-icon" width="12" height="12">
                <use href="images/svg/icons.svg#icon-warning"></use>
              </svg>
              Not a valid email address (example@email.com)</span
            >
          </label>

          <button
            class="subscribe__button subscribe__button--footer"
            type="submit"
          >
            Subscribe
          </button>
        </form>

        <p class="subscribe__sharing">
          By subscribing you agree to with our
          <a href="" class="subscribe__link--footer">Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__agreement">
        <a class="footer__agreement-link" href="">Privacy Policy</a>
        <a class="footer__agreement-link" href="">Terms of Service</a>
        <a class="footer__agreement-link" href="">Cookies Settings</a>
      </div>
      <p class="footer__meta">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
