<header class="header">
  <div class="container header__container">
    <img
      class="logo"
      src="./images/svg/logo.svg"
      alt="logo"
      width="66"
      height="52"
    />
    <div class="header__elements">
      <div class="header__nav">
        <button class="header__button-close" type="button">
          <svg class="header__button-close-icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link navigation__link--active" href="#home"
                >Home</a
              >
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#about">About</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#service">Service</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#menu">Menu</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="header__button" type="button">
        <svg class="header__button-icon" width="28" height="28">
          <use href="./images/svg/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="button button__header--tablet" data-modal-open>
        Order Now
      </button>
    </div>
  </div>
</header>
