<section>
  <div class="container hero">
    <div class="hero__description">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="button--hero" type="button">Order Now</button>
    </div>
 
     
     

    <!-- Swiper -->
    <div class="hero__border swiper mySwiper">
    <div class="hero__slider  ">
     
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <img
            class="hero__picture"
            src="./images/desktop/hero/lunch-desktop-1-min.png"
            alt="Crocets"
            width="292"
            height="292"
          />
        </div>
        <div class="swiper-slide">
          <img
            class="hero__picture"
            src="./images/desktop/hero/breakfast-desktop-1-min.png"
            alt="Crocets"
            width=""
          />
        </div>
        <div class="swiper-slide">
          <img
            class="hero__picture"
            src="./images/desktop/hero/dinner-desktop-1-min.png"
            alt="Crocets"
            width=""
          />
        </div>
      
      </div>
    <div class="swiper-button-next icon__color"></div>
      <div class="swiper-button-prev icon__color"></div>
      
    </div>
    </div>

  </div> 
</section>
