<section class="offerings section">
  <div class="container">
    <div class="apple-wrap">
      <div class="apple">
        <div class="apple-bg"></div>
        <picture>
          <source
            srcset="
              ./images/desktop/offers/apple-desktop-1-min.png 1x,
              ./images/desktop/offers/apple-desktop-2-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/offers/apple-1-tablet-1-min.png 1x,
              ./images/tablet/offers/apple-1-tablet-2-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/offers/apple-mob.png  1x,
              ./images/mobile/offers/apple-mob2.png 2x
            "
            media="(min-width:480px)" />
          <img src="./images/mobile/offers/apple-mob.png" alt="green apple"
        /></picture>
        <div class="apple-gradient"></div>
      </div>
      <div class="apple-box">
        <img
          srcset="
            ./images/tablet/offers/apple-2-tablet-1-min.png 1x,
            ./images/tablet/offers/apple-2-tablet-2-min.png 2x
          "
          src="./images/tablet/offers/apple-2-tablet-1-min.png"
          alt="less green apple"
          width="166"
          height="211"
        />
        <img
          srcset="
            ./images/tablet/offers/apple-3-tablet-1-min.png 1x,
            ./images/tablet/offers/apple-3-tablet-2-min.png 2x
          "
          src="./images/tablet/offers/apple-3-tablet-1-min.png"
          alt="small green apple"
          width="108"
          height="136"
        />
      </div>
    </div>
    <div class="text-wrap">
      <div class="title-box">
        <h2 class="title">What’s Special About Our Offerings</h2>
        <p class="after-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offerings-list">
        <li class="offerings-item delivery">
          <h3 class="offerings-item__title">Fasest Delivery</h3>
          <p class="offerings-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-item order">
          <h3 class="offerings-item__title">Easy To Order</h3>
          <p class="offerings-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="buttons-set">
        <button type="button" class="button-order">Order Now</button>
        <button type="button" class="button-read">
          <span>Read&nbsp;More</span>
          <svg class="button-read__icon">
            <use href="./images/svg/icons.svg#chevron"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
