
.button {
  background-color: $button-green;
  border-radius: 30px;
  border: none;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  text-align: center;
  color: #2c2c2c;
  display: inline;
    &--accent{
        transition: 250ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
       &:hover{
        background-color: $accent-button-green;
       }
    }

    &--modal{
       margin: 0 auto;
       background-color: #ffffff;
       padding: 10px 38px;
       border-color: 1px solid $dark-green;
    }
     &__header--tablet{
       display: none;
       min-width: 102px;
       flex-direction: row;
       transition: 250ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
       &:hover{
        background-color: $accent-button-green;
       }
        @include tablet{
            display: block;
            
        }
    }
    &--follow{
        max-width: 103px;
        padding: 11px 22px;

    }
    &--subscrible{
    display: flex;
        background-color: $button-green;
        justify-content: center;
        align-items: center;
        max-height: 42px;
        min-width: 103px;
        &:hover{
            background-color: $accent-button-green;
        }
    }
}

