

.button {
  background-color: $button-green;
  border-radius: 30px;
  border-color: transparent;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  text-align: right;
  color: #2c2c2c;
  display: inline;
  display: flex;
    &--modal{
        margin: 0 auto;
       padding: 10px 38px;
       border-color: 1px solid $dark-green;
      
    }
     &__header--tablet{
       display: none;
        @include tablet{
            display: block;
        }
    }
    &--follow{
        max-width: 103px;
        padding: 11px 22px;

    }
}


