.navigation{
    overflow: hidden;
    &__list{
        @include tablet{
            display: flex;
            gap: 28px;
        }
    }
    &__item{
        padding: 15px 0 15px 16px;
        @include mobile-only{
            &:hover,
            &:focus{
            background-color: $button-green;
            &:first-child{
                border-top-left-radius: 30px;
            }
            &:last-child{
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
        }
        }
        
        @include tablet{
            padding: 16px 0;
        }

    }
    
    &__link{
        font-size: 16px;
        line-height: 1.18;
        color: $primary-text-color;
        @include tablet{
            font-size: 14px;
            line-height: 1.14;

        }
        
    }
    &__link--active{
        @include tablet{
            color: $button-green;
            text-decoration: underline;
        }
        
    }

}
