.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}

.hero__container {
  position: relative;

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero__title {
  margin-bottom: 28px;
  font-size: 28px;
  line-height: 1.2;
  color: $primary-text-color;

  @include tablet {
    margin-bottom: 44px;
    max-width: 537px;
    font-size: 42px;
  }

  @include desktop {
    margin-bottom: 28px;
    font-size: 48px;
    max-width: 503px;
  }
}

.hero__text {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.5;
  color: $primary-text-color;

  @include tablet {
    margin-bottom: 40px;
    max-width: 336px;
    font-size: 16px;
  }


  @include desktop {
    max-width: 503px;
  }
}

.hero__slider {
  z-index: 0;
  @include mobile-only {
    display: none;
  }

  position: absolute;
  top: 89px;
  right: 32px;
  width: 320px;
  height: 320px;
  border-radius: 50%;

  border: 14px solid $yellow-main;

  &:hover,
  &:focus {
    border: 14px solid $button-green;
    
  }

  @include desktop {
    width: 580px;
    height: 580px;
    position: relative;
    top: 0;
    right: 0;
    border: 26px solid $yellow-main;
    transition: 250ms;
    &:hover,
    &:focus {
      border: 26px solid $button-green;
      
    }
  }

}

.swiper {
  border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 28px;
  --swiper-theme-color: $primary-text-color;
  width: 34px;
  height: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: none;

  @include desktop {
    width: 48px;
    height: 40px;
    border-radius: 8px;
  }

  &::after {
    font-size: 20px;
    font-weight: 700;

    @include desktop {
      font-size: 30px;
    }
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.8;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -25px;
  @include desktop {
    right: -40px;
  }
  transition: 250ms;
}


.swiper-button-next:hover,
.swiper-rtl .swiper-button-prev:hover {
 color: #7EB101;

}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -25px;
  @include desktop {
    left: -40px;
  }
  transition: 250ms;
}

.swiper-button-prev:hover,
.swiper-rtl .swiper-button-next:hover {
 color: #7EB101;
}