.hero {
  display: flex;
  position: relative;
  padding-bottom: 21px;
  @include desktop {
    padding-top: 159px;
  }
}

.hero__title {
  width: 100%;
  font-size: 28px;
  line-height: 1.2;

  color: #2c2c2c;

  margin-bottom: 28px;

  @include tablet {
    font-size: 42px;
    width: 537px;
    margin-bottom: 48px;
  }
  @include desktop {
    font-size: 48px;
    width: 502px;
    margin-bottom: 44px;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-top: 0px;
  margin-bottom: 28px;

  padding-right: 14px;

  @include tablet {
    font-size: 16px;
    max-width: 336px;
    padding-right: 0;
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 502px;
  }
}

.button--hero {
  background: #bbf330;
  border-radius: 30px;
  border-color: transparent;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  text-align: right;
  color: #2c2c2c;
  display: inline;
  display: flex;
}
.hero__picture {
  width: 292px;
  height: 292px;
  @include desktop {
    width: 528px;
    height: 528px;
  }
}


.hero__border {
  width: 350px;
  height: 350px;

  position: relative;
}

.swiper {
  margin-left: auto;


  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  @media screen and (min-width: 480px) {
  }
}

.hero__slider {
  display: none;
  right: 32px;
  height: 336px;
  width: 336px;
  top: 89px;
  right: 0;


  justify-content: center;
  align-items: center;
  margin-right: 0;
  position: absolute;
  outline: 2px solid #f5f5f5;
  border: 2px solid #f5f5f5;
  margin-left: auto;
  box-shadow: inset 0 0 0 8px #f5f5f5, inset 0 0 0 22px #ffe550;
  border-radius: 50%;

  @include tablet {
    display: flex;
  }

  @include desktop {
    width: 608px;
    height: 608px;
    top: -83px;
    display: flex;
    box-shadow: inset 0 0 0 14px #f5f5f5, inset 0 0 0 40px #ffe550;
    outline: 2px solid #f5f5f5;
    border: 2px solid #f5f5f5;
  }
}


.swiper-button-next
{
      right: -2px;
    top: 50%;
    left: auto;
    transform: translateY(50%);
  position: absolute;
  content: url('../images/svg/arrow-right-desk.svg');
  height: 28px;
  width: 34px;

  @include desktop{
     transform: translateY(0);
      height: 40px;
  width: 48px;
  }
}

.swiper-button-prev
 {
  left: -2px;
    top: 50%;
    right: auto;
    transform: translateY(50%);
  position: absolute;
  content: url('../images/svg/arrow-left-desk.svg');
    height: 28px;
  width: 34px;
    @include desktop{
       transform: translateY(0);
      height: 40px;
  width: 48px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}






